{% extends 'base.html' %}

{% block content %}
<div class="container align-items-center py-4">
<main class="form-signin w-100 ">
  <div class="container col-md-5 ">

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <h1 class="h3 mb-3 fw-normal">Please Register</h1>

    <div class="form-floating pb-3">
      {{ form.username(type="email", class_="form-control", id="floatingInput", placeholder="Email") }}
      {{ form.username.label(for="floatingInput") }}
    </div>

    <div class="form-floating pb-3">
      {{ form.email(type="email", class_="form-control", id="floatingInput", placeholder="Email") }}
      {{ form.email.label(for="floatingInput") }}
    </div>

    <div class="form-floating pb-3">
      {{ form.password(type="password", class_="form-control", id="floatingPassword", placeholder="Password") }}
      {{ form.password.label(for="floatingPassword") }}
    </div>

    <div class="form-floating pb-3">
      {{ form.password2(type="password", class_="form-control", id="floatingPassword", placeholder="Password") }}
      {{ form.password2.label(for="floatingPassword") }}
    </div>

    {{ form.submit(class_="btn btn-primary w-100 py-2", type="submit") }}
  </form>

    </div>
</main>
</div>
{% endblock %}